<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.f26b944a.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chunk-vendors.149f295b.css') }}">
  </head>
  <body>
    <div id="app"></div>
    <script src="{{ url_for('static', filename='js/app.b33eeba3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chunk-vendors.2cebc8e3.js') }}"></script>
  </body>
</html>